:css
  div#agreement {
    width: 500px;
    margin-left: 200px;
    margin-top: 20px;
    font-family: Arial,Sans-serif;
    font-size: small;
  }
  input#agree_button {
    margin-left:200px;
    margin-top: 20px;
  }
  #image{
    margin-left: 200px;
  }

#agreement
  =@conf_agreement
%form{:action => "#{@root_url}/sign_agreement", :method => "post"}
  %input{:type => "hidden", :value => @original_target, :name => "original"}
  %br
  %input#agree_button{:type => "submit", :value => "I agree and accept the terms"}
          
          
